

<div class="parent">
    <div class="child">
        
        <h4 routerLink="createstudent">createstudent</h4>
        <h4 routerLink="allstudents">All Students</h4>
        <h4 routerLink="parent">parent</h4>
        <h4 routerLink="child"> child</h4>
        <h4 routerLink="am">Angular Material</h4>
        <h4 routerLink="formarray">Formarray</h4>
        <h4 routerLink ="taskcreate">create-task</h4>
        <h4 routerLink="placement">Placement</h4>
        <h4 routerLink="email">Email</h4>
        <h4 routerLink="essay">Essay</h4>
        <h4 routerLink="placement-details">placement-details</h4>
        <h4 routerLink="placement-registration"> placement-registration</h4>
        <h4 routerLink="edit-profile">Edit-profile</h4>
        
   
        <button class="logout"(click)='logout()'>Logout</button>
    </div>
    <div class="main">

        <router-outlet></router-outlet>
    </div>

</div>